<h1>Convert <%= @first_currency %> to <%= @second_currency %></h1>

<p>1 <%= @first_currency %> equals <%= @parsed_exchange_data.fetch("info").fetch("rate") %> <%= @second_currency %>.

<p>Go <a href="/forex/<%= @first_currency %>">back</a>.</p>
